<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Error</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        h1 {
            color: #FFFFFF;
            font-style: oblique;
            font-weight: bold;
            background-color: #236B8E;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>500 Error</h1>
    <p>The server encountered an internal error and was unable to complete your request.</p>
</body>
